html {
  height: 100vh;
  width: 100vw;
  font-size: 40px;
}
canvas {
  display: block;
  vertical-align: bottom;
}

@keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-gear > div {
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
  -webkit-animation: lds-gear 1s infinite linear;
  animation: lds-gear 1s infinite linear;
  position: relative;
}
.lds-gear > div div {
  position: absolute;
  width: 26px;
  height: 192px;
  background: #f08d43;
  left: 48%;
  top: 48%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lds-gear > div div:nth-child(1) {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
.lds-gear > div div:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
  transform: translate(-50%, -50%) rotate(30deg);
}
.lds-gear > div div:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
  transform: translate(-50%, -50%) rotate(60deg);
}
.lds-gear > div div:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.lds-gear > div div:nth-child(6) {
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
  transform: translate(-50%, -50%) rotate(120deg);
}
.lds-gear > div div:nth-child(7) {
  -webkit-transform: translate(-50%, -50%) rotate(150deg);
  transform: translate(-50%, -50%) rotate(150deg);
}
.lds-gear > div div:nth-child(8) {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
}
.lds-gear {
  width: 59px !important;
  height: 59px !important;
  -webkit-transform: translate(-29.5px, -29.5px) scale(0.295) translate(29.5px, 29.5px);
  transform: translate(-29.5px, -29.5px) scale(0.295) translate(29.5px, 29.5px);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-layer-1 {
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: -1;
  animation-name: bg-transition;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes bg-transition {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  50% {
    background-color: rgb(45, 16, 73);
  }
  100% {
    background-color: rgba(0, 0, 0, 1);
  }
}

.bg-layer-2 {
  background-color: blueviolet;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: -2;
}

.main {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.title {
  font-size: 1rem;
  height: 10vh;
}

.subtitle {
  font-size: 0.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.profile-pic {
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  animation-name: image_transitions;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  z-index:1001;
}

@keyframes image_transitions{
  0%{
    background-image: url('images/sherlocked_face.jpg');
  }
  50%{
    background-image: url('images/eye_1.jpg');
  }
  100%{
    background-image: url('images/sherlocked_face.jpg');
  }
}
.links {
  font-size: 0.5rem;
}

@media only screen and (max-device-width: 768px) {
  html {
    font-size: 80px;
  }
  .profile-pic {
    height: 50vw;
    width: 50vw;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 80px;
  }
  .profile-pic {
    height: 50vw;
    width: 50vw;
  }
